body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('dinero.avif');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 200px; /* Aumentar el tamaño del logo */
    z-index: 20;
}

.header {
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 50px; /* Ajustado a la línea roja */
    left: 0;
    z-index: 10;
} 

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}